/*----- DEFINITIONS -----*/
/*----- COLOURS -----*/
/*----- FONT-SIZE -----*/
/*-----BODY -----*/
body {
  overflow: hidden;
  font-size: 12px; }

.row {
  padding: 0;
  margin: 0; }

.container-fluid {
  margin: 0;
  padding: 0; }

.backdrop-container {
  background: url(../assets/images/background-children.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/*-----MAIN SECTIONS -----*/
.top-section {
  height: 25vh;
  max-height: 25vh; }

.bottom-section {
  height: 70vh;
  max-height: 75vh; }

footer {
  height: 5vh;
  max-height: 5vh;
  background-image: linear-gradient(#6d23ff, #9c6df9); }

/*----- LOGO AND TITLE -----*/
.top-section--logo-container {
  height: 15vh;
  max-height: 15vh; }

.top-section--title-container {
  height: 5vh;
  max-height: 5vh; }

.nav-button {
  position: absolute;
  margin: 0;
  font-size: 10px;
  padding: 5px;
  right: 15px;
  top: 15px;
  width: 75px;
  color: #e1e1e1;
  border: 2px solid black;
  border-radius: 10%;
  background-color: #6d23ff;
  transition: ease-in-out 0.25s;
  transform: scale(1, 1); }

.nav-button:active {
  transition: ease-in-out 0.25s;
  transform: scale(0.8, 0.8); }

.top-section--title-text {
  color: #e1e1e1;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 5vh;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  text-align: center; }

#top-section--hidden-title {
  position: absolute;
  width: 100%; }

.title-animation {
  animation: animate-title 1s forwards; }

#logo {
  display: block;
  margin-right: 0;
  width: 150px;
  height: 100px;
  max-width: 22.5vh;
  max-height: 15vh;
  transform: translate(0%, 10%); }

.logo-animation {
  animation: animate-logo 2s; }

/*----- NAVIGATION BAR -----*/
.navbar-container {
  height: 5vh;
  max-height: 5vh; }

#navbar {
  border: none;
  box-shadow: none;
  height: 5vh; }
  #navbar ul {
    background-image: linear-gradient(#6d23ff, #9c6df9);
    height: 100%;
    margin-bottom: 0;
    margin-top: 0; }
  #navbar ul li {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    line-height: 5vh;
    text-align: center;
    color: #e1e1e1;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
    margin: 0 -2px -0px -2px;
    width: 25%; }

.menubar-animation {
  animation: animate-menubar 1s forwards; }

/*----- NAVIGATION TABS -----*/
.tabs-container {
  height: 100%; }

.tab {
  border: 2px solid black;
  background-color: #e1e1e1;
  height: 100%;
  display: none;
  overflow: auto;
  padding: 10px 0 10px 0; }
  .tab h2,
  .tab h3,
  .tab h4,
  .tab h5,
  .tab .col-xs-4 {
    text-align: center; }
  .tab .col-sm-6 {
    text-align: center;
    padding-bottom: 10px; }
  .tab--menu-title-container {
    text-align: center; }
  .tab--menu-button-container {
    text-align: center; }

#about-tab img {
  margin: auto;
  max-width: 20vw;
  max-height: 20vw; }

#test-tab--landing .col-xs-4 {
  text-align: center; }

#about-tab {
  color: #6d23ff; }

#data-tab {
  color: #7b3bfc; }

#test-tab {
  color: #884ffb; }

#schools-tab {
  color: #9c6df9; }

/*----- TEST TAB -----*/
.test-tab {
  display: none; }
  .test-tab .col-sm-4 {
    text-align: center;
    padding-top: 20px; }
  .test-tab .col-xs-6 {
    text-align: center; }
  .test-tab--answer {
    width: 100%; }
  .test-tab--test-button {
    background-color: #884ffb;
    color: #e1e1e1;
    transition: 0.3s ease-in-out;
    outline: none;
    width: 50%; }
  .test-tab--test-button:active {
    color: #884ffb;
    background-color: #e1e1e1;
    transition: 0.3s ease-in-out; }
  .test-tab--question {
    font-size: 18px;
    font-weight: 400; }

.test-tab--literacy-test-container {
  border: solid 2px #884ffb;
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
  min-height: 5vh;
  margin: 0 10px 0 10px;
  padding: 0;
  text-align: center; }

.test-tab--literacy-word {
  border: none;
  background-color: #e1e1e1;
  height: 100%;
  display: inline-block;
  outline: none; }

.test-tab--literacy-word-question-hidden {
  display: none; }

.test-tab--literacy-word-question-shown {
  display: inline-block; }

.test-tab--literacy-word-answer-hidden {
  margin: 0 2.5px 0 2.5px;
  border-bottom: solid 1px;
  border-right: none;
  width: 50px; }

.test-tab--literacy-word-answer-shown {
  border: none; }

#test-tab--memory-test .col-xs-3 {
  text-align: center; }

.test-tab--memory-icon {
  width: 50px;
  padding: 5px 0 5px 0; }

#answer-mark {
  width: 20px; }

/*----- SCHOOLS TAB -----*/
#schools-tab {
  padding-top: 10px; }
  #schools-tab input {
    font-size: 10px; }

.schools-tab--disabilities i {
  font-size: 30px; }

.schools-tab--disabilities-icon {
  color: grey;
  margin: 0 0 10px;
  border: solid 2px #9c6df9;
  border-radius: 35%;
  min-height: 5vh;
  padding-top: 8px; }

/*----- map within schools tab -----*/
#map {
  border: solid 2px #9c6df9;
  height: 60vh; }

#map-address {
  width: 25%; }

#map-miles {
  width: 10%; }

.map--marker-stars {
  width: 50%; }

/*----- CONTACT FORM -----*/
#contact-form {
  max-height: 60vh;
  font-family: 'Roboto', sans-serif;
  color: #e1e1e1;
  margin-top: 20px;
  background-color: rgba(109, 35, 255, 0.7);
  border: solid 4px #9c6df9;
  border-radius: 2%;
  padding-top: 20px;
  padding-bottom: 20px; }
  #contact-form label {
    padding-top: 5px; }
  #contact-form i {
    padding-top: 6px; }
  #contact-form button {
    color: black; }
  #contact-form input {
    width: 100%;
    background-color: #e1e1e1; }
  #contact-form textarea {
    height: 15vh;
    width: 100%;
    background-color: #e1e1e1; }

.contact-form--title {
  text-align: center; }

.contact-animation {
  animation: animate-contactform 1s forwards; }

/*----- FOOTER -----*/
.social-list {
  width: 100%;
  height: 100%;
  list-style: none;
  float: left;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0; }
  .social-list ul {
    width: 100%;
    height: 100%;
    padding-inline-start: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; }
  .social-list li {
    padding-left: 0;
    padding-right: 0;
    margin: 0 -2px -0px -2px;
    width: 25%;
    line-height: 5vh;
    text-align: center;
    display: inline-block; }
  .social-list li a {
    padding: 8px 5px 0px 5px; }
  .social-list li a i {
    transition: 0.3s ease-in-out;
    width: 30px;
    height: 30px;
    padding: 9px 0;
    vertical-align: middle;
    text-align: center;
    border: solid 0px;
    border-radius: 50%;
    color: #e1e1e1; }
  .social-list li a i:hover {
    background-color: #e1e1e1;
    transition: 0.3s ease-in-out;
    color: black; }

/*----- MEDIA QUERIES -----*/
@media (min-width: 480px) and (max-width: 767px) {
  body {
    font-size: 15px; }

  #logo {
    width: 200px;
    height: 133.33333px; }

  .top-section--title-text {
    font-size: 20px; } }
@media (min-width: 768px) and (max-width: 991px) {
  body {
    font-size: 16px; }

  #logo {
    width: 300px;
    height: 200px; }

  .top-section--title-text {
    font-size: 25px; }

  .social-list li a i {
    width: 38px;
    height: 38px;
    font-size: 21px; }

  h3 {
    font-size: 25px; }

  h4 {
    font-size: 20px; }

  h5 {
    font-size: 18px; }

  .schools-tab--disabilities p {
    font-size: 8px; }
  .schools-tab--disabilities i {
    font-size: 20px; } }
@media (min-width: 992px) and (max-width: 1199px) {
  body {
    font-size: 16px; }

  #logo {
    width: 350px;
    height: 233.33333px; }

  .top-section--title-text {
    font-size: 30px; }

  .social-list li a i {
    width: 40px;
    height: 40px;
    font-size: 23px; } }
@media (min-width: 1200px) {
  body {
    font-size: 20px; }

  #logo {
    width: 400px;
    height: 266.66667px; }

  .top-section--title-text {
    font-size: 35px; }

  .social-list li a i {
    width: 42px;
    height: 42px;
    font-size: 25px; } }
@media (min-width: 768px) {
  .top-section {
    height: 30vh;
    max-height: 30vh; }

  .bottom-section {
    height: 65vh;
    max-height: 65vh; }

  .top-section--logo-container {
    height: 20vh;
    max-height: 20vh; }

  #logo {
    display: block;
    margin: auto;
    transform: translate(0%, 10%);
    max-height: 20vh;
    max-width: 30vh; }

  #navbar {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    transform: translate(0, 100vh); }
    #navbar ul {
      background-image: linear-gradient(#6d23ff, #9c6df9);
      margin-bottom: 0;
      width: 100%; }
    #navbar ul li {
      line-height: 5vh;
      text-align: center;
      color: #e1e1e1;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
      margin: 0 -2px -0px -2px;
      width: 25%; }

  #navbar .navbar-toggle {
    margin-right: 0; }

  #contact-form {
    opacity: 0; }

  #top-section--title {
    transform: translate(-100%, 0); }

  #schools-tab {
    font-size: 18px; }
    #schools-tab input {
      font-size: 15px; }

  #school-info {
    border: solid 2px #9c6df9;
    height: 60vh; }

  #map-address {
    width: 35%; }

  #map-miles {
    width: 15%; } }
/*----- KEYFRAMES -----*/
/*-----page set up animations -----*/
@keyframes animate-logo {
  0% {
    transform: translate(0, -100%); }
  50% {
    animation-timing-function: ease-in-out;
    transform: translate(0%, 100%); }
  100% {
    animation-timing-function: ease-in-out;
    transform: translate(0%, 10%); } }
@keyframes animate-title {
  0% {
    transform: translate(-100%, 0%); }
  100% {
    animation-timing-function: ease-in-out;
    transform: translate(0, 0); } }
@keyframes animate-menubar {
  0% {
    transform: translate(0, 100vh); }
  100% {
    animation-timing-function: ease-in-out;
    transform: translate(0, 0vh); } }
@keyframes animate-contactform {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
