/*----- DEFINITIONS -----*/

/*----- COLOURS -----*/

$dark-purple-color: #56048C; //#6d23ff;
$medium-dark-purple-color: #9126BF; //#7b3bfc;
$medium-light-purple-color: #C866F2; //#884ffb;
$light-purple-color: #C391D9; //#9c6df9;
$white: #e1e1e1;
$dark-purple-opaque: rgba(86, 4, 140, 0.5);
$light-purple-opaque: rgba(195, 145, 217, 0.5); //#9c6df9;
/*----- FONT-SIZE -----*/

$title-font-size:13px;
$body-font-size:12px;

/*-----BODY -----*/

body {
    overflow: hidden; //overflow: auto;
    font-size: $body-font-size;
}

.row {
    padding: 0;
    margin: 0;
}

.no-padding {
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.backdrop-container {
    background: url(../assets/images/background-children.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center-text {
    text-align: center;
}

/*-----MAIN SECTIONS -----*/

.top-section {
    height: 25vh;
    max-height: 25vh;

}

.bottom-section {
    height: 70vh;
    max-height: 75vh;
}

footer {
    height: 5vh;
    max-height: 5vh;
    background-image: linear-gradient($dark-purple-color, $light-purple-color);
}

.tooltip.top .tooltip-inner {
    background-color: $dark-purple-color;
}

.tooltip.top>.tooltip-arrow {
    border-top-color: $dark-purple-color;
}

/*----- LOGO AND TITLE -----*/

.top-section {
    &--opaque-container {
        position: absolute;
        top: 0;
        background-color: black;
        opacity: 0;
        height: 25vh;
    }
    &--logo-container {
        height: 15vh;
        max-height: 15vh;
    }
    &--title-container {
        height: 5vh;
        max-height: 5vh;
    }
    &--title-text {
        color: $white;
        font-family: 'Roboto', sans-serif;
        font-size: $title-font-size;
        line-height: 5vh;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
        text-align: center;
    }
    #top-section--hidden-title {
        position: absolute;
        width: 100%;
    }
    .nav-button {
        position: absolute;
        margin: 0;
        font-size: 10px;
        padding: 5px;
        right: 15px;
        top: 15px;
        width: 75px;
        color: $white;
        border: 2px solid $white;
        border-radius: 10%;
        transition: ease-in-out 0.25s;
        transform: scale(1, 1);
    }
    .nav-button:active {
        transition: ease-in-out 0.25s;
        transform: scale(0.8, 0.8);
    }
}

.title-animation {
    animation: animate-title 1s forwards;
}

$logoWidth: 150px;

#logo {
    display: block;
    margin-right: 0;
    width: $logoWidth;
    height: $logoWidth/3*2;
    max-width: 14vh*3/2;
    max-height: 14vh;
    transform: translate(0%, 10%);
    border: 5px solid white;
    border-radius: 5%;
    background-image: linear-gradient($dark-purple-opaque, $light-purple-opaque);
}

.logo-animation {
    animation: animate-logo 2s;
}

/*----- MENU BAR -----*/

.menu-button-active {
    background-color: $medium-light-purple-color;
}

.menu-button-inactive {
    background-color: $dark-purple-color;
}

.navbar-container {

    height: 5vh;
    max-height: 5vh;
}

#navbar {
    border: none;
    box-shadow: none;
    height: 5vh;

    ul {
        background-image: linear-gradient($dark-purple-color, $light-purple-color);
        height: 100%;
        margin-bottom: 0;
        margin-top: 0;

        li {
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            display: inline-block;
            line-height: 5vh;
            text-align: center;
            color: $white; //   font-size: $body-font-size;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
            margin: 0 -2px -0px -2px;
            width: 25%;
            i {
                width: 5px;
            }
        }
    }

}

.menubar-animation {
    animation: animate-menubar 1s forwards;
}

/*----- NAVIGATION TABS -----*/

$tab-colors: ( about: $dark-purple-color,
data:$medium-dark-purple-color,
test:$medium-dark-purple-color,
schools:$medium-dark-purple-color,
);

@each $key,
$value in $tab-colors {
    ##{$key}-tab {
        color: $value;
    }
}

.tabs-container {
    height: 100%;
}

.tab {
    border: 2px solid $dark-purple-color;
    background-color: $white;
    height: 100%;
    display: none;
    overflow: auto;
    padding: 10px 0 10px 0;

    h2,
    h3,
    h4,
    h5 {
        text-align: center;
    }
    .col-sm-6 {
        text-align: center;
        padding-bottom: 10px;
    }
    &--menu-title-container {
        text-align: center;
    }
    &--menu-button-container {
        text-align: center;
    }
}

/*----- ABOUT TAB -----*/

#about-tab {
    img {
        margin: auto;
        max-height: 20vh;
        max-width: 20vw;
        width: auto;
        height: auto;
    }
    .about-tab--icon-container {
        text-align: center;
    }
    h3 {
        margin-top: 0;
    }
}

/*----- DATA TAB -----*/

#data-tab {
    &--chart-area {
        width: 80vw;
        height: 48vh;
        overflow: auto;
        border: solid 2px $medium-dark-purple-color;
        margin-top: 10px;
        margin-bottom: 10px;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-height: 50%;
            height: auto;
            display: none;
            z-index: 2;
        }
    }
    &--chart-object {
        padding: 20px;
    }
    &--dropdown {
        line-height: 10px;
        font-size: 10px;
        margin-left: 5px;
        background-color: $medium-dark-purple-color;
        border-color: $medium-dark-purple-color;
    }
    &--dropdown:hover:active:focus {
        background-color: $medium-dark-purple-color;
        border-color: $medium-dark-purple-color;
    }
}

.dropdown-menu {
    font-size: 10px;
    padding-left: 5px;
}

.data-tab {
    &--chart {
        padding: 20px 0 0 20px;
        height: 38vh;
    }
    &--chart-title {
        text-align: center;
        font-size: 12px;
        display: none;
        padding-top: 10px;
        font-weight: 700;
    }
    &--chart-section {
        display: none;

        input {
            width: 100%;
            padding: 0px;
            font-size: 12px;
            height: 20px;
            vertical-align: middle;
            margin: 0;
        }
        label {
            vertical-align: middle;
            margin: 0;
            font-weight: 100;
        }
    }
    &--chart-selector {
        min-width: 100%;
    }
    &--schools-chart-info {
        border-bottom: solid 1px;
        margin-bottom: 5px;
    }
}


#select-total-pupils {
    width: 14px;
}

#select-school-capacity {
    width: 14px;
}

.dc-chart {
    padding: 0;
}

.pie-slice {
    fill: black;
}


/*----- TEST TAB -----*/

#test-tab--landing {
    .col-xs-4 {
        text-align: center;
    }
    h3 {
        margin-top: 10px;
    }
}

.test-tab {
    display: none;

    .col-sm-4 {
        text-align: center;
        padding-top: 20px;
    }

    .col-xs-6 {
        text-align: center;
    }

    &--answer {
        width: 100%;
    }
    &--test-button {
        background-color: $medium-dark-purple-color;
        color: $white;
        transition: 0.3s ease-in-out;
        outline: none;
        width: 50%;
    }
    &--test-button:active {
        color: $medium-dark-purple-color;
        background-color: $white;
        transition: 0.3s ease-in-out;
    }
    &--button-submit {
        background-color:green;
    }
    &--button-quit {
        background-color:red;
    }
    &--button-skip {
        background-color: blue;
    }
    &--question {
        font-size: 18px;
        font-weight: 400;
    }
    &--literacy {
        &-test-container {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            height: 13vh;
            max-height: 13vh;
            border: solid 2px $medium-dark-purple-color;
            font-family: 'Indie Flower', cursive;
            font-size: 18px; // min-height: 5vh;
            margin: 0 10px 0 10px;
            padding: 0;
            text-align: center;
        }
        &-word {
            border: none;
            background-color: $white;
            display: inline-block;
            outline: none;
            display: inline-block;
            text-align: right;
            font-size: 16px;
            &-question-hidden {
                display: none;
            }
            &-question-shown {
                display: inline-block;
            }
            &-answer-hidden {
                margin: 0 2.5px 0 2.5px;
                border-bottom: solid 1px;
                border-right: none;
                width: 50px;
                height: 0;
            }
            &-answer-shown {
                border: none;
            }
        }
        &-answer-mark {
            height: 25px;
        }
    }
    &--numeracy-question-container {
        text-align: right;
        font-size: 16px;
    }
    &--memory-test-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &--memory-icon {
        width: 60px;
        padding: 5px;
    }
    &--result-chart-container {
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &--result-chart {
        height: 35vh;
        width: 90vw;
        border: solid 4px $medium-dark-purple-color;
        svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-45%, -50%);
        }
    }
}

#numeracy-answer-mark {
    width: 20px;
    display: none;
}

/*----- SCHOOLS TAB -----*/

#schools-tab {
    padding-top: 10px;

    input {
        line-height: 2vh;
        font-size: 1.75vh;
    }
}

#school-info {
    font-size: 1.75vh;
}

.schools-tab {
    &--disabilities {
        position: absolute;
        width: 100%;
        padding-right: 30px;
        bottom: 0;
        i {
            font-size: 2vh;
        }
        ul {
            list-style: none;
            width: 100%;
            padding-left: 0;
        }
        li {
            display: inline-block;
            padding: 0 5px 0 5px;
        }
        span {
            color: grey;
        }
        strong {
            color: $medium-dark-purple-color;
        }
    }
    &--disabilities-icon {
        border-radius: 50%;
        padding: 10px;
        transition-duration: 1s;
    }
    &--disabilities-icon-active {
        color: $white;
        background-color: $medium-dark-purple-color;
        border: solid 2px $white;
    }
    &--disabilities-icon-inactive {
        color: grey;
        border: solid 2px $medium-dark-purple-color;
        background-color: $white;

    }

    &--school-details {
        input {
            width: 100%;
            padding: 0px;
            font-size: 14px;
            height: 26px;
            color: $medium-dark-purple-color;
        }
    }
}

/*----- map within schools tab -----*/

#map {
    border: solid 2px $medium-dark-purple-color;
    height: 50vh;
}

.map--marker-stars {
    width: 20%;
}

/*----- CONTACT FORM -----*/

#contact-form {
    max-height: 60vh;
    font-family: 'Roboto', sans-serif;
    color: $white;
    margin-top: 20px;
    background-color: rgba(86, 45, 140, 0.7);
    border: solid 4px $white;
    border-radius: 2%;
    padding-top: 20px;
    padding-bottom: 20px;

    label {
        padding-top: 5px;
    }
    i {
        padding-top: 6px;
    }
    button {
        color: black;
    }
    input {
        width: 100%;
        background-color: $white;
    }
    textarea {
        height: 15vh;
        width: 100%;
        background-color: $white;
    }
}

.contact-form--title {
    text-align: center;
}

.contact-animation {
    animation: animate-contactform 1s forwards;
}

/*----- MODAL -----*/

#errorModal {
    color: $dark-purple-color;
}


/*----- FOOTER -----*/

.social-list {
    width: 100%;
    height: 100%;
    list-style: none;
    float: left;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;


    ul {
        width: 100%;
        height: 100%;
        padding-inline-start: 0;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;

    }
    li {
        padding-left: 0;
        padding-right: 0;
        width: 24%;
        line-height: 5vh;
        text-align: center;
        display: inline-block;
    }

    li a {
        padding: 8px 5px 0px 5px;
    }

    li a i {
        transition: 0.3s ease-in-out;
        width: 30px;
        height: 30px;
        padding: 9px 0;
        vertical-align: middle;
        text-align: center;
        border: solid 0px;
        border-radius: 50%;
        color: $white;
    }

    li a i:hover {

        background-color: $white;
        transition: 0.3s ease-in-out;
        color: black;

    }

}


/*----- MEDIA QUERIES -----*/

@media (max-height: 1024px) and (min-width:767px) {

    $logoHeight: 17vh;
    $title-font-size: 24px;
    $body-font-size: 15px;

    body {
        font-size: $body-font-size;
    }

    #logo {
        width: $logoHeight*3/2;
        height: $logoHeight;
    }

    .top-section--title-text {
        font-size: $title-font-size;
    }

    .data-tab--chart-section {
        display: none;

        input {
            width: 100%;
            padding: 0px;
            font-size: 14px;
            height: 26px;
        }
    }

    .dc-chart .axis text {
        font: 14px sans-serif;
    }

}

@media (min-height: 1024px) and (min-width: 767px) {
    $title-font-size: 33px;
    $body-font-size: 20px;
    
    $logoHeight: 17vh;

    body {
        font-size: $body-font-size;
    }

    #logo {
        width: $logoHeight*3/2;
        height: $logoHeight;
    }
    
   .top-section--title-text {
        font-size: $title-font-size;
    }
    .social-list li a i {
        width: 42px;
        height: 42px;
        font-size: 25px;
    }


    .data-tab--chart-section {
        input {
            font-size: 14px;
            height: 24px;
        }
    }
}

@media (min-width: 768px) {

    .top-section {
        height: 30vh;
        max-height: 30vh;
        &--logo-container {
            height: 20vh;
            max-height: 20vh;
        }
    }

    .bottom-section {
        height: 65vh;
        max-height: 65vh;
    }

    #logo {
        display: block;
        margin: auto;
        transform: translate(0%, 10%);
        max-height: 20vh;
        max-width: 20vh*3/2;
    }

    #navbar {
        width: 100%;
        padding-left: 0;
        padding-right: 0; //margin-top: 15px;
        transform: translate(0, 100vh);
        ul {
            background-image: linear-gradient($dark-purple-color, $light-purple-color);
            margin-bottom: 0;
            width: 100%;
        }
        ul li {
            line-height: 5vh;
            text-align: center;
            color: $white;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
            margin: 0 -2px -0px -2px;
            width: 25%;
        }
        .navbar-toggle {
            margin-right: 0;
        }

    }

    #contact-form {
        opacity: 0;
    }

    #top-section--title {
        transform: translate(-100%, 0);
    }


    #data-tab--dropdown {
        line-height: 14px;
        font-size: 14px;
        margin-left: 5px;
    }

    .dropdown-menu {
        font-size: 14px;
    }

    .test-tab {
        &--literacy-word {
            font-size: 30px;
        }
        &--memory-icon {
            width: 90px;
            padding: 10px;
        }
        &--numeracy-question-container {
            font-size: 24px;
        }
        &--result-chart {
            width: 40vw;
        }
    }

    .schools-tab--school-details {
        padding-left: 15px;
    }

    .schools-tab--school-information {
        height: 20vh;
        overflow-y: auto;
    }

    #school-info {
        border: solid 2px $medium-dark-purple-color;
        height: 59vh;
    }

    #map {
        height: 59vh;
    }
}

/*----- KEYFRAMES -----*/

/*-----page set up animations -----*/

@keyframes animate-logo {
    0% {
        transform: translate(0, -100%);
    }
    50% {
        animation-timing-function: ease-in-out;
        transform: translate(0%, 100%);
    }
    100% {
        animation-timing-function: ease-in-out;
        transform: translate(0%, 10%);
    }
}

@keyframes animate-title {
    0% {
        transform: translate(-100%, 0%);
    }
    100% {
        animation-timing-function: ease-in-out;
        transform: translate(0, 0);
    }
}

@keyframes animate-menubar {
    0% {
        transform: translate(0, 100vh);
    }
    100% {
        animation-timing-function: ease-in-out;
        transform: translate(0, 0vh);
    }
}

@keyframes animate-contactform {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
