/*----- DEFINITIONS -----*/
/*----- COLOURS -----*/
/*----- FONT-SIZE -----*/
/*-----BODY -----*/
body {
  overflow: hidden;
  font-size: 12px; }

.row {
  padding: 0;
  margin: 0; }

.no-padding {
  padding: 0; }

.container-fluid {
  margin: 0;
  padding: 0; }

.backdrop-container {
  background: url(../assets/images/background-children.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.center-text {
  text-align: center; }

/*-----MAIN SECTIONS -----*/
.top-section {
  height: 25vh;
  max-height: 25vh; }

.bottom-section {
  height: 70vh;
  max-height: 75vh; }

footer {
  height: 5vh;
  max-height: 5vh;
  background-image: linear-gradient(#6d23ff, #9c6df9); }

.tooltip.top .tooltip-inner {
  background-color: #6d23ff; }

.tooltip.top > .tooltip-arrow {
  border-top-color: #6d23ff; }

/*----- LOGO AND TITLE -----*/
.top-section--opaque-container {
  position: absolute;
  top: 0;
  background-color: black;
  opacity: 0;
  height: 25vh; }
.top-section--logo-container {
  height: 15vh;
  max-height: 15vh; }
.top-section--title-container {
  height: 5vh;
  max-height: 5vh; }
.top-section--title-text {
  color: #e1e1e1;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  line-height: 5vh;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
  text-align: center; }
.top-section #top-section--hidden-title {
  position: absolute;
  width: 100%; }
.top-section .nav-button {
  position: absolute;
  margin: 0;
  font-size: 10px;
  padding: 5px;
  right: 15px;
  top: 15px;
  width: 75px;
  color: #e1e1e1;
  border: 2px solid black;
  border-radius: 10%;
  background-color: #6d23ff;
  transition: ease-in-out 0.25s;
  transform: scale(1, 1); }
.top-section .nav-button:active {
  transition: ease-in-out 0.25s;
  transform: scale(0.8, 0.8); }

.title-animation {
  animation: animate-title 1s forwards; }

#logo {
  display: block;
  margin-right: 0;
  width: 150px;
  height: 100px;
  max-width: 22.5vh;
  max-height: 15vh;
  transform: translate(0%, 10%); }

.logo-animation {
  animation: animate-logo 2s; }

/*----- MENU BAR -----*/
.navbar-container {
  height: 5vh;
  max-height: 5vh; }

#navbar {
  border: none;
  box-shadow: none;
  height: 5vh; }
  #navbar ul {
    background-image: linear-gradient(#6d23ff, #9c6df9);
    height: 100%;
    margin-bottom: 0;
    margin-top: 0; }
    #navbar ul li {
      cursor: pointer;
      font-family: 'Roboto', sans-serif;
      display: inline-block;
      line-height: 5vh;
      text-align: center;
      color: #e1e1e1;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
      margin: 0 -2px -0px -2px;
      width: 25%; }
      #navbar ul li i {
        width: 5px; }

.menubar-animation {
  animation: animate-menubar 1s forwards; }

/*----- NAVIGATION TABS -----*/
#about-tab {
  color: #6d23ff; }

#data-tab {
  color: #7b3bfc; }

#test-tab {
  color: #884ffb; }

#schools-tab {
  color: #9c6df9; }

.tabs-container {
  height: 100%; }

.tab {
  border: 2px solid #6d23ff;
  background-color: #e1e1e1;
  height: 100%;
  display: none;
  overflow: auto;
  padding: 10px 0 10px 0; }
  .tab h2,
  .tab h3,
  .tab h4,
  .tab h5 {
    text-align: center; }
  .tab .col-sm-6 {
    text-align: center;
    padding-bottom: 10px; }
  .tab--menu-title-container {
    text-align: center; }
  .tab--menu-button-container {
    text-align: center; }

/*----- ABOUT TAB -----*/
#about-tab img {
  margin: auto;
  max-height: 20vh;
  max-width: 20vw;
  width: auto;
  height: auto; }
#about-tab .about-tab--icon-container {
  text-align: center; }
#about-tab h3 {
  margin-top: 0; }

/*----- DATA TAB -----*/
#data-tab--chart-area {
  width: 80vw;
  height: 48vh;
  overflow: auto;
  border: solid 2px #7b3bfc;
  margin-top: 10px;
  margin-bottom: 10px; }
  #data-tab--chart-area img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 50%;
    height: auto;
    display: none;
    z-index: 2; }
#data-tab--chart-object {
  padding: 20px; }
#data-tab--dropdown {
  line-height: 10px;
  font-size: 10px;
  margin-left: 5px;
  background-color: #7b3bfc;
  border-color: #9c6df9; }
#data-tab--dropdown:hover:active:focus {
  background-color: #9c6df9;
  border-color: #7b3bfc; }

.dropdown-menu {
  font-size: 10px;
  padding-left: 5px; }

.data-tab--chart {
  padding: 20px 0 0 20px;
  height: 38vh; }
.data-tab--chart-title {
  text-align: center;
  font-size: 12px;
  display: none;
  padding-top: 10px;
  font-weight: 700; }
.data-tab--chart-section {
  display: none; }
  .data-tab--chart-section input {
    width: 100%;
    padding: 0px;
    font-size: 12px;
    height: 20px;
    vertical-align: middle;
    margin: 0; }
  .data-tab--chart-section label {
    vertical-align: middle;
    margin: 0;
    font-weight: 100; }
.data-tab--chart-selector {
  min-width: 100%; }
.data-tab--schools-chart-info {
  border-bottom: solid 1px;
  margin-bottom: 5px; }

#select-total-pupils {
  width: 14px; }

#select-school-capacity {
  width: 14px; }

.dc-chart {
  padding: 0; }

.pie-slice {
  fill: black; }

/*----- TEST TAB -----*/
#test-tab--landing .col-xs-4 {
  text-align: center; }
#test-tab--landing h3 {
  margin-top: 10px; }

.test-tab {
  display: none; }
  .test-tab .col-sm-4 {
    text-align: center;
    padding-top: 20px; }
  .test-tab .col-xs-6 {
    text-align: center; }
  .test-tab--answer {
    width: 100%; }
  .test-tab--test-button {
    background-color: #884ffb;
    color: #e1e1e1;
    transition: 0.3s ease-in-out;
    outline: none;
    width: 50%; }
  .test-tab--test-button:active {
    color: #884ffb;
    background-color: #e1e1e1;
    transition: 0.3s ease-in-out; }
  .test-tab--question {
    font-size: 18px;
    font-weight: 400; }
  .test-tab--literacy-test-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 13vh;
    max-height: 13vh;
    border: solid 2px #884ffb;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
    margin: 0 10px 0 10px;
    padding: 0;
    text-align: center; }
  .test-tab--literacy-word {
    border: none;
    background-color: #e1e1e1;
    display: inline-block;
    outline: none;
    display: inline-block;
    text-align: right;
    font-size: 16px; }
    .test-tab--literacy-word-question-hidden {
      display: none; }
    .test-tab--literacy-word-question-shown {
      display: inline-block; }
    .test-tab--literacy-word-answer-hidden {
      margin: 0 2.5px 0 2.5px;
      border-bottom: solid 1px;
      border-right: none;
      width: 50px;
      height: 0; }
    .test-tab--literacy-word-answer-shown {
      border: none; }
  .test-tab--literacy-answer-mark {
    height: 25px; }
  .test-tab--numeracy-question-container {
    text-align: right;
    font-size: 16px; }
  .test-tab--memory-test-container {
    display: flex;
    align-items: center;
    justify-content: center; }
  .test-tab--memory-icon {
    width: 60px;
    padding: 5px; }
  .test-tab--result-chart-container {
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center; }
  .test-tab--result-chart {
    height: 35vh;
    width: 90vw;
    border: solid 4px #884ffb; }
    .test-tab--result-chart svg {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-45%, -50%); }

#numeracy-answer-mark {
  width: 20px; }

/*----- SCHOOLS TAB -----*/
#schools-tab {
  padding-top: 10px; }
  #schools-tab input {
    font-size: 10px; }

#school-info {
  font-size: 1.75vh; }

.schools-tab--disabilities {
  position: absolute;
  width: 100%;
  padding-right: 30px;
  bottom: 0; }
  .schools-tab--disabilities i {
    font-size: 2vh; }
  .schools-tab--disabilities ul {
    list-style: none;
    width: 100%;
    padding-left: 0; }
  .schools-tab--disabilities li {
    display: inline-block;
    padding: 0 5px 0 5px; }
.schools-tab--disabilities-icon {
  color: grey;
  border: solid 2px #9c6df9;
  border-radius: 50%;
  padding: 10px; }
.schools-tab--school-details input {
  width: 100%;
  padding: 0px;
  font-size: 18px;
  height: 26px;
  color: #9c6df9; }

/*----- map within schools tab -----*/
#map {
  border: solid 2px #9c6df9;
  height: 50vh; }

.map--marker-stars {
  width: 50%; }

/*----- CONTACT FORM -----*/
#contact-form {
  max-height: 60vh;
  font-family: 'Roboto', sans-serif;
  color: #e1e1e1;
  margin-top: 20px;
  background-color: rgba(109, 35, 255, 0.7);
  border: solid 4px #9c6df9;
  border-radius: 2%;
  padding-top: 20px;
  padding-bottom: 20px; }
  #contact-form label {
    padding-top: 5px; }
  #contact-form i {
    padding-top: 6px; }
  #contact-form button {
    color: black; }
  #contact-form input {
    width: 100%;
    background-color: #e1e1e1; }
  #contact-form textarea {
    height: 15vh;
    width: 100%;
    background-color: #e1e1e1; }

.contact-form--title {
  text-align: center; }

.contact-animation {
  animation: animate-contactform 1s forwards; }

/*----- MODAL -----*/
#errorModal {
  color: #6d23ff; }

/*----- FOOTER -----*/
.social-list {
  width: 100%;
  height: 100%;
  list-style: none;
  float: left;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0; }
  .social-list ul {
    width: 100%;
    height: 100%;
    padding-inline-start: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; }
  .social-list li {
    padding-left: 0;
    padding-right: 0;
    width: 24%;
    line-height: 5vh;
    text-align: center;
    display: inline-block; }
  .social-list li a {
    padding: 8px 5px 0px 5px; }
  .social-list li a i {
    transition: 0.3s ease-in-out;
    width: 30px;
    height: 30px;
    padding: 9px 0;
    vertical-align: middle;
    text-align: center;
    border: solid 0px;
    border-radius: 50%;
    color: #e1e1e1; }
  .social-list li a i:hover {
    background-color: #e1e1e1;
    transition: 0.3s ease-in-out;
    color: black; }

/*----- MEDIA QUERIES -----*/
@media (min-height: 768px) and (max-height: 1023px) and (min-width: 768px) {
  body {
    font-size: 15px; }

  #logo {
    width: 200px;
    height: 133.33333px; }

  .top-section--title-text {
    font-size: 24px; }

  .data-tab--chart-section {
    display: none; }
    .data-tab--chart-section input {
      width: 100%;
      padding: 0px;
      font-size: 18px;
      height: 26px; }

  .dc-chart .axis text {
    font: 14px sans-serif; }

  .schools-tab--school-information {
    height: 30vh;
    overflow-y: auto; } }
@media (min-height: 1024px) and (min-width: 768px) {
  body {
    font-size: 20px; }

  #logo {
    width: 400px;
    height: 266.66667px; }

  .top-section--title-text {
    font-size: 33px; }

  .social-list li a i {
    width: 42px;
    height: 42px;
    font-size: 25px; }

  #schools-tab {
    font-size: 18px; }
    #schools-tab input {
      font-size: 15px; }

  .data-tab--chart-section input {
    font-size: 16px;
    height: 24px; } }
@media (min-width: 768px) {
  .top-section {
    height: 30vh;
    max-height: 30vh; }
    .top-section--logo-container {
      height: 20vh;
      max-height: 20vh; }

  .bottom-section {
    height: 65vh;
    max-height: 65vh; }

  #logo {
    display: block;
    margin: auto;
    transform: translate(0%, 10%);
    max-height: 20vh;
    max-width: 30vh; }

  #navbar {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    transform: translate(0, 100vh); }
    #navbar ul {
      background-image: linear-gradient(#6d23ff, #9c6df9);
      margin-bottom: 0;
      width: 100%; }
    #navbar ul li {
      line-height: 5vh;
      text-align: center;
      color: #e1e1e1;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
      margin: 0 -2px -0px -2px;
      width: 25%; }
    #navbar .navbar-toggle {
      margin-right: 0; }

  #contact-form {
    opacity: 0; }

  #top-section--title {
    transform: translate(-100%, 0); }

  #data-tab--dropdown {
    line-height: 20px;
    font-size: 20px;
    margin-left: 5px; }

  .dropdown-menu {
    font-size: 18px; }

  .test-tab--literacy-word {
    font-size: 30px; }
  .test-tab--memory-icon {
    width: 90px;
    padding: 10px; }
  .test-tab--numeracy-question-container {
    font-size: 24px; }
  .test-tab--result-chart {
    width: 40vw; }

  .schools-tab--school-details {
    padding-left: 15px; }

  #school-info {
    border: solid 2px #9c6df9;
    height: 59vh; }

  #map {
    height: 59vh; } }
/*----- KEYFRAMES -----*/
/*-----page set up animations -----*/
@keyframes animate-logo {
  0% {
    transform: translate(0, -100%); }
  50% {
    animation-timing-function: ease-in-out;
    transform: translate(0%, 100%); }
  100% {
    animation-timing-function: ease-in-out;
    transform: translate(0%, 10%); } }
@keyframes animate-title {
  0% {
    transform: translate(-100%, 0%); }
  100% {
    animation-timing-function: ease-in-out;
    transform: translate(0, 0); } }
@keyframes animate-menubar {
  0% {
    transform: translate(0, 100vh); }
  100% {
    animation-timing-function: ease-in-out;
    transform: translate(0, 0vh); } }
@keyframes animate-contactform {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
