/*----- DEFINITIONS -----*/

/*----- COLOURS -----*/

$about-color: #6d23ff;
$data-color: #7b3bfc;
$test-color: #884ffb;
$schools-color: #9c6df9; 
$white: #e1e1e1;

/*----- FONT-SIZE -----*/

$title-font-size:13px;
$body-font-size:12px;

/*-----BODY -----*/

body {
    //    overflow: hidden;
    overflow: auto;
    font-size: $body-font-size;
}

.row {
    padding: 0;
    margin: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.backdrop-container {
    background: url(../assets/images/background-children.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.center-text {
    text-align: center;
}

/*-----MAIN SECTIONS -----*/

.top-section {
    height: 25vh;
    max-height: 25vh;
}

.bottom-section {
    height: 70vh;
    max-height: 75vh;
}

footer {
    height: 5vh;
    max-height: 5vh;
    background-image: linear-gradient($about-color, $schools-color);
}

/*----- LOGO AND TITLE -----*/

.top-section--logo-container {
    height: 15vh;
    max-height: 15vh
}

.top-section--title-container {
    height: 5vh;
    max-height: 5vh;
}

.nav-button {
    position: absolute;
    margin: 0;
    font-size: 10px;
    padding: 5px;
    right: 15px;
    top: 15px;
    width: 75px;
    color: $white;
    border: 2px solid black;
    border-radius: 10%;
    background-color: $about-color;
    transition: ease-in-out 0.25s;
    transform: scale(1, 1);
}

.nav-button:active {
    transition: ease-in-out 0.25s;
    transform: scale(0.8, 0.8);
}

.top-section--title-text {
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: $title-font-size;
    line-height: 5vh;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    text-align: center;
}

#top-section--hidden-title {
    position: absolute;
    width: 100%;
}

.title-animation {
    animation: animate-title 1s forwards;
}

$logoWidth: 150px;

#logo {
    display: block;
    margin-right: 0;
    width: $logoWidth;
    height: $logoWidth/3*2;
    max-width: 15vh*3/2;
    max-height: 15vh;
    transform: translate(0%, 10%);
}

.logo-animation {
    animation: animate-logo 2s;
}

/*----- NAVIGATION BAR -----*/

.navbar-container {

    height: 5vh;
    max-height: 5vh;
}

#navbar {
    border: none;
    box-shadow: none;
    height: 5vh;

    ul {
        background-image: linear-gradient($about-color, $schools-color);
        height: 100%;
        margin-bottom: 0;
        margin-top: 0;
    }
    ul li {
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        display: inline-block;
        line-height: 5vh;
        text-align: center;
        color: $white; //   font-size: $body-font-size;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
        margin: 0 -2px -0px -2px;
        width: 25%;
    }

}

.menubar-animation {
    animation: animate-menubar 1s forwards;
}

/*----- NAVIGATION TABS -----*/

.tabs-container {
    height: 100%;
}


.tab {
    border: 2px solid black;
    background-color: $white;
    height: 100%;
    display: none;
    overflow: auto;
    padding: 10px 0 10px 0;

    h2,
    h3,
    h4,
    h5 {
        text-align: center;
    }
    .col-sm-6 {
        text-align: center;
        padding-bottom: 10px;
    }
    &--menu-title-container {
        text-align: center;
    }
    &--menu-button-container {
        text-align: center;
    }
}

#about-tab {
    img {
        margin: auto;
        max-width: 20vw;
        max-height: 20vw;
    }
}

#test-tab--landing {
    .col-xs-4 {
        text-align: center;
    }
}

$tab-colors: ( about: $about-color,
data:$data-color,
test:$test-color,
schools:$schools-color,
);

@each $key,
$value in $tab-colors {
    ##{$key}-tab {
        color: $value;
    }
}

/*----- DATA TAB -----*/

#data-tab--chart-area {
    width: 80vw;
    height: 52vh;
 //   margin-left: 10vw;
    border: solid 2px $data-color;
    margin-top: 10px;
    margin-bottom: 10px;
    img {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
}

.data-tab--chart {
    padding-top: 20px;
   // height: 95%;
   // width: 100%;
}

.data-tab--chart-section {
    display: none;
}

.pie-slice {
    fill: black;
}
/*
._0 {
    .bar {
        fill: $about-color;
    }
}

._1{
    .bar {
    fill: $data-color;

}

._2 {
.bar {
    fill: $test-color;
}*/

/*----- TEST TAB -----*/

.test-tab {
    display: none;

    .col-sm-4 {
        text-align: center;
        padding-top: 20px;
    }

    .col-xs-6 {
        text-align: center;
    }

    &--answer {
        width: 100%;
    }
    &--test-button {
        background-color: $test-color;
        color: $white;
        transition: 0.3s ease-in-out;
        outline: none;
        width: 50%;
    }
    &--test-button:active {
        color: $test-color;
        background-color: $white;
        transition: 0.3s ease-in-out;
    }
    &--question {
        font-size: 18px;
        font-weight: 400;
    }
}

// set to .test-tab--literacy &&
.test-tab--literacy-test-container {
    display:flex;
    align-items:center;
    justify-content: center;
    flex-wrap: wrap;
    height:13vh;
    max-height:13vh;
    border: solid 2px $test-color;
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
   // min-height: 5vh;
    margin: 0 10px 0 10px;
    padding: 0;
    text-align: center;
}

.test-tab--literacy-word {
    border: none;
    background-color: $white;
    display: inline-block;
    outline: none;
}

.test-tab--literacy-word-question-hidden {
    display: none;
}

.test-tab--literacy-word-question-shown {
    display: inline-block;
}

.test-tab--literacy-word-answer-hidden {
    margin: 0 2.5px 0 2.5px;
    border-bottom: solid 1px;
    border-right: none;
    width: 50px;
    height:0;
}

.test-tab--literacy-answer-mark {
    height:25px;
}

.test-tab--literacy-word-answer-shown {
    border: none;
}

.test-tab--numeracy-question-container {
    text-align:right;
    font-size:16px;
}

.result-chart-container {
    height: 40vh;
    display:flex;
    align-items:center;
    justify-content: center;
    
}


.result-chart {
    height: 35vh;
    width: 90vw;
    border: solid 4px $test-color;
    svg {
        position:absolute;
        left:50%;
        top:50%;
        transform: translate(-45%,-50%);
    }
}

#test-tab--memory-test {
    .col-xs-3 {
        text-align: center;
    }
}

.test-tab--memory-test-container {
    display: flex;
    align-items:center;
    justify-content: center;
}

.test-tab--memory-icon {
    width: 60px;
    padding: 5px;
}

#answer-mark {
    width: 20px;
}

/*----- SCHOOLS TAB -----*/

#schools-tab {
    padding-top: 10px;

    input {
        font-size: 10px;
    }
}

.schools-tab--disabilities {
    i {
        font-size: 30px;
    }
}

.schools-tab--disabilities-icon {
    color: grey;
    margin: 0 0 10px;
    border: solid 2px $schools-color;
    border-radius: 35%;
    min-height: 5vh;
    padding-top: 8px;
}

/*----- map within schools tab -----*/

#map {
    border: solid 2px $schools-color;
    height: 60vh;
}

#map-address {
    width: 25%;
}

#map-miles {
    width: 10%;
}

.map--marker-stars {
    width: 50%;
}

/*----- CONTACT FORM -----*/

#contact-form {

    max-height: 60vh; //  font-size: $body-font-size;
    font-family: 'Roboto', sans-serif;
    color: $white;
    margin-top: 20px;
    background-color: rgba(109, 35, 255, 0.7);
    border: solid 4px $schools-color;
    border-radius: 2%;
    padding-top: 20px;
    padding-bottom: 20px;

    label {
        padding-top: 5px;
    }
    i {
        padding-top: 6px;
    }
    button {
        color: black;
    }
    input {
        width: 100%;
        background-color: $white;
    }
    textarea {
        height: 15vh;
        width: 100%;
        background-color: $white;
    }
}

.contact-form--title {
    text-align: center;
}

.contact-animation {
    animation: animate-contactform 1s forwards;
}


/*----- FOOTER -----*/

.social-list {
    width: 100%;
    height: 100%;
    list-style: none;
    float: left;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;


    ul {
        width: 100%;
        height: 100%;
        padding-inline-start: 0;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;

    }
    li {
        padding-left: 0;
        padding-right: 0;
        margin: 0 -2px -0px -2px;
        width: 25%;
        line-height: 5vh;
        text-align: center;
        display: inline-block;
    }

    li a {
        padding: 8px 5px 0px 5px;
    }

    li a i {
        transition: 0.3s ease-in-out;
        width: 30px;
        height: 30px;
        padding: 9px 0;
        vertical-align: middle;
        text-align: center;
        border: solid 0px;
        border-radius: 50%;
        color: $white;
    }

    li a i:hover {

        background-color: $white;
        transition: 0.3s ease-in-out;
        color: black;

    }

}


/*----- MEDIA QUERIES -----*/

@media (min-width: 480px) and (max-width: 767px) {

    $logoWidth: 200px;
    $title-font-size: 20px;
    $body-font-size: 15px;

    body {
        font-size: $body-font-size;
    }

    #logo {
        width: $logoWidth;
        height: $logoWidth/3*2;
    }

    .top-section--title-text {
        font-size: $title-font-size;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    $logoWidth: 300px;
    $title-font-size: 25px;
    $body-font-size: 16px;
    body {
        font-size: $body-font-size;
    }

    #logo {
        width: $logoWidth;
        height: $logoWidth/3*2;
    }
    .top-section--title-text {
        font-size: $title-font-size;
    }
    .social-list li a i {
        width: 38px;
        height: 38px;
        font-size: 21px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }
    .schools-tab--disabilities {
        p {
            font-size: 8px;
        }
        i {
            font-size: 20px;
        }
    }
}

@media (min-width: 992px) and (max-width:1199px) {

    $logoWidth: 350px;
    $title-font-size: 30px;
    $body-font-size: 13px;
    body {
        font-size: $body-font-size;
    }

    #logo {
        width: $logoWidth;
        height: $logoWidth/3*2;
    }
    .top-section--title-text {
        font-size: $title-font-size;
    }
    .social-list li a i {
        width: 40px;
        height: 40px;
        font-size: 23px;
    }
}

@media (min-width: 1200px) {
    $logoWidth: 400px;
    $title-font-size: 35px;
    $body-font-size: 20px;
    body {
        font-size: $body-font-size;
    }

    #logo {
        width: $logoWidth;
        height: $logoWidth/3*2;
    }
    .top-section--title-text {
        font-size: $title-font-size;
    }
    .social-list li a i {
        width: 42px;
        height: 42px;
        font-size: 25px;
    }
}

@media (min-width: 768px) {

    .top-section {
        height: 30vh;
        max-height: 30vh;
    }

    .bottom-section {
        height: 65vh;
        max-height: 65vh;
    }

    .top-section--logo-container {
        height: 20vh;
        max-height: 20vh;
    }

    #logo {
        display: block;
        margin: auto;
        transform: translate(0%, 10%);
        max-height: 20vh;
        max-width: 20vh*3/2;
    }

    #navbar {
        width: 100%;
        padding-left: 0;
        padding-right: 0; //margin-top: 15px;
        transform: translate(0, 100vh);
        ul {
            background-image: linear-gradient($about-color, $schools-color);
            margin-bottom: 0;
            width: 100%;
        }
        ul li {
            line-height: 5vh;
            text-align: center;
            color: $white;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
            margin: 0 -2px -0px -2px;
            width: 25%;
        }
    }

    #navbar .navbar-toggle {
        margin-right: 0;
    }

    #contact-form {
        opacity: 0;
    }

    #top-section--title {
        transform: translate(-100%, 0);
    }

.test-tab--literacy-word {
    font-size: 30px;
}

    #schools-tab {
        font-size: 18px;
        input {
            font-size: 15px;
        }
    }

.test-tab--memory-icon {
    width: 100px;
    padding: 10px;
}

.test-tab--numeracy-question-container {
    font-size:24px;
}


    #school-info {
        border: solid 2px $schools-color;
        height: 60vh;
    }

    #map-address {
        width: 35%;
    }

    #map-miles {
        width: 15%;
    }
}

/*----- KEYFRAMES -----*/

/*-----page set up animations -----*/

@keyframes animate-logo {
    0% {
        transform: translate(0, -100%);
    }
    50% {
        animation-timing-function: ease-in-out;
        transform: translate(0%, 100%);
    }
    100% {
        animation-timing-function: ease-in-out;
        transform: translate(0%, 10%);
    }
}

@keyframes animate-title {
    0% {
        transform: translate(-100%, 0%);
    }
    100% {
        animation-timing-function: ease-in-out;
        transform: translate(0, 0);
    }
}

@keyframes animate-menubar {
    0% {
        transform: translate(0, 100vh);
    }
    100% {
        animation-timing-function: ease-in-out;
        transform: translate(0, 0vh);
    }
}

@keyframes animate-contactform {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
